---
import Layout from '../layouts/Layaoutt.astro';
import Experience from "../components/Experience.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto">
			<h1 class="text-center text-blue-900 text-5xl font-bol flex justify-center gap-x-4">
            AMOR</h1>
            <h1 class="text-center text-purple-800 text-5xl font-bol flex justify-center gap-x-4 pb-2">
                FELZI ANIVERSARIO</h1>
            <div class="flex justify-center items-center py-10">
                <img src="https://img.freepik.com/vector-premium/lindo-astronauta-sosteniendo-carta-amor-mascota-dibujos-animados-doodle-arte-dibujado-mano-esquema-concepto-vector-kawaii-icono-ilustracion_442940-1921.jpg" class="w-3/4 border-3 border-l-purple-800 rounded-lg object-cover">
            </div>
            <p class="text-center text-gray-400 text-xl font-bol flex justify-center gap-x-4">
                NO HAY PALABRAS PARA DESCRIBIR EL SENTIMIENTO QUE ME GENERA PODER COMPARTIR DIA CON DIA MI VIDA A TU LADO AMOR.
            </p>
            <br>
            <p class="text-center text-gray-400 text-xl font-bol flex justify-center gap-x-4">
                LO MAS CERCANO CREO ES AMOR Y A VECES
                SIENTO QUE SE QUEDA CORTO PARA LAS COSAS QUE ME HACES SENTIR, DE VERDAD NO PUEDO DEJAR DE PENSARTE DIA CON DIA, DE DESEAR QUE ESTES BIEN, DE EN CUANTO SE PUEDA
                PODER COMPARTIR UN MOMENTO, DIA CON DIA QUIERO CONTARTE LO QUE SEA CONTAL DE SOLO PODER COMPARTIR UN RATO A TU LADO, ERES LA PERSONA QUE LLEGO PARA CAMBIAR
                MI VIDA COMO NO TE LO IMAGINAS, DE VERDAD, DIA CON DIA AGRADEZCO A DIOS, AL MUNDO, AL UNIVERSO EL PODER HABERTE CONOCIDO, Y SOBRE TODO EL PODER
                SER CON QUIEN HAS DECIDIDO COMPARTIR LA VIDA DE AQUI EN ADELANTE.
            </p>
            <br>
            <p class="text-center text-gray-400 text-xl font-bol flex justify-center gap-x-4 pb-500">
                TE AMO MI VIDA, CON TODO MI SER, DE VERDAD, Y DIA CON DIA HACES QUE EL SENTIMIENTO AUMENTE Y NO CREO QUE CAMBIE, TE AMO Y DE VERDAD QUIERO PASAR EL RESTO
                DE MIS DIAS A TU LADO, AL LADO DE LA MUJER QUE AMO Y CON QUIEN QUIERO PASAR EL RESTO DE MI VIDA, EL AMOR DE MI VIDA, MI LUZ, MI AMOR, MI TODO, GRACIAS POR
                ESTE AÑO, EL PRIMERO DE MUCHOS GRACIAS AMOR.
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>

            
        </section>

        <section class="w-full lg:w-[740px] mx-auto">
            <h2 class="text-2xl font-semibold text-white -mb-6">NUESTRA HISTORIA</h2>
            <Experience />
            <br>
            <br>
            <br>
        </section>

        <section>
            <div class="flex justify-center items-center py-11">
                <img src="https://img.freepik.com/vector-gratis/lindo-astronauta-sosteniendo-carta-amor-sobre-dibujos-animados-vector-icono-ilustracion-ciencia-vacaciones_138676-8562.jpg" class="w-1/2 border-4 border-blue-500 rounded-full object-cover">
            </div>
            <h1 class="text-center text-purple-700 text-5xl font-bol flex justify-center gap-x-4 pb-10">
                Solo me queda agradecer por todo este año compartiendo tu vida al lado de la mia, te amo Luz💞</h1>
            <h2 class="text-center text-gray-400 text-2xl opacity-80 flex justify-center pb-20">
				Si te lo preguntas, sí, llore en varias secciones mientras escribía amor.
			</h2>
        </section>
	</main>
</Layout>
