---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-pink-500 text-5xl font-bol flex justify-center gap-x-4 pb-10">💖FELIZ ANIVERSARIO LUZ💖</h1>
			<h2 class="text-purple-600 text-2xl opacity-80 flex justify-center pb-20">
				Eres de lo más bello que me a pasado en la vida y de verdad feliz de poder cumplir un año contigo siendo novios.
			</h2>
			<a href="/cambio" title=""
				class="relative z-10 items-center flex justify-center w-auto px-8 py-3 text-lg font-bold text-white transition-all duration-200 bg-gray-900 border-2 border-transparent sm:w-auto rounded-xl font-pj hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
				role="button">
				Da click para continuar ^^
			</a>
		</section>
	</main>
</Layout>

